{{#link-to "map"}}BACK{{/link-to}}
<h1>THIS IS THE PAGE FOR A LOGGED ADVENTURE!</h1>
<img src="/assets/images/giesel.png">
<br>

STATS
<br>
First visit - 10/18/15
<br>

Time spent - 4000 hours
<br>

Times visited - 500 times
<br>

# of Others visited - 524230
<br>
<br>
<br>
Reviews:
<br>
I go here whenever I want to study - 2nd east is nice.
{{outlet}}